@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  background:#151411;
  
}

#meteors p{
    width:0px;
    height:0px;
    
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-top: 100px solid transparent;
    border-radius: px;
    color:white;
    position:relative;
    margin:auto;
    top:5%;
    right:15vw;
    font-family: Orbitron;
    font-size: 10vh;
    }
.footer{
    text-align: center;
}

#footer p{
    color:white; 
    position:absolute;
    bottom:0;
    font-family: Orbitron;
}



#contenedor {
  width:0px;
  height:0px;
  
  border-left: 300px solid transparent;
  border-right:300px solid transparent;
  border-top: 300px solid transparent;
  border-radius: 1px;
  position:relative;
  margin:auto;
  top:30vh;
  left:2px;
  
}

#start {
  
  position:relative;
  bottom:330px;
  right:300px;
  height:50px;
  width:600px;
  background:#333333;
  text-align:center;
  font-size:30px;
 background-size: 1px 300%;
 -webkit-transition:0.5s;
  transition:0.5s;
  color:white;
  font-family:Orbitron;
  
  cursor:pointer;
  
  
  
}

#start:hover {
  background:white;
  color:#333333;
-webkit-transform:rotate(-1deg);
  transform:rotate(-2deg);
  
  
}

#exit:hover {
  background:white;
  color:#333333;
   
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  
  
}



#start p {
  position:relative;
  top:12px;
  right:2px;
  
  
}

#exit {
  height:50px;
  width:500px;
  background:#333333;
  position:relative;
  bottom:345px;
  right:240px;
  text-align:center;
  font-size:30px;
  font-family:Orbitron;
  color:white;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
  
   
  
}
#exit p {
  position:relative;
  top:12px;
  right:9px;
  
}



